@model MovingCars.Models.ViewModel.OrderViewModel

@{
    ViewBag.Title = "Новый заказ";
}
<link href='@Url.Content("~/Content/themes/base/jquery-ui.css")' rel="stylesheet" type="text/css" />
<h2>@ViewBag.Title.</h2>
<h3>Оформление поездки.</h3>
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control", type = "time" } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control", type = "time" } })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartAddress, new
           {
               htmlAttributes = new
               {
                   @class = "form-control",
                   @dataautocompletesource = @Url.Action("AddressAutocompleteSearch", "Order")
               }
           })
                @Html.ValidationMessageFor(model => model.StartAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndAddress, new
           {
               htmlAttributes = new
               {
                   @class = "form-control",
                   @dataautocompletesource = @Url.Action("AddressAutocompleteSearch", "Order")
               }
           })
                @Html.ValidationMessageFor(model => model.EndAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OutOfTown, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.OutOfTown, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OutOfTown, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Passenger, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Passenger, new
           {
               htmlAttributes = new
               {
                   @class = "form-control",
                   @dataautocompletesource = @Url.Action("PassengerAutocompleteSearch", "Order"),
                   @placeholder = "Введите фамилию пассажира"
               }
           })
                @Html.ValidationMessageFor(model => model.Passenger, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Driver, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Driver, new
           {
               htmlAttributes = new
               {
                   @class = "form-control",
                   @dataSource = @Url.Action("DriverAutocompleteSearch", "Order"),
                   @placeholder = "Введите фамилию водителя"
               }
           })
                @Html.ValidationMessageFor(model => model.Driver, "", new { @class = "text-danger" })
            </div>
            @Html.HiddenFor(model => model.DriverId)

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Note, 3, 80, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a class="btn btn-default" href="/Order/List">Перейти к списку</a>
                <input type="submit" class="btn btn-primary" value="Сохранить" />
            </div>
        </div>
    </div>

    <script src='@Url.Content("~/Scripts/jquery-1.10.2.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/jquery-ui-1.10.4.min.js")' type="text/javascript"></script>

    <script type="text/javascript">
        $(function () {
            $("[dataautocompletesource]").each(function () {
                var target = $(this);
                target.autocomplete({
                    source: target.attr("dataautocompletesource"),
                    delay: 800,
                    minLength: 3
                });
            });
        });

        $(function () {
            $("#Driver").each(function () {
                var target = $(this);
                target.autocomplete({
                    source: target.attr("dataSource"),
                    delay: 800,
                    minLength: 3,
                    focus: function (event, ui) {
                        $("#Driver").val(ui.item.label);
                        $("#DriverId").val(ui.item.value);
                        return false;
                    },
                    select: function (event, ui) {
                        $("#Driver").val(ui.item.label);
                        $("#DriverId").val(ui.item.value);
                        return false;
                    }
                });
            });
        });
    </script>


}